<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<div class="container">
<h1>Prodotto inserito correttamente</h1>
<h3> dettagli: </h3>
<p>
    {{prod.nome}}
</p>
<p>
    {{prod.marca}}
</p>
<p>
    {{prod.prezzo}}
</p>
<p>
    {{prod.pezzi}}
</p>
<p>
    <img src="{{prod.url}} ">
</p>

</div>

</body>
</html>